body {
  padding-bottom: 2000px;
  margin: 0;
}

.company__logo__container {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__logo__container img {
  object-fit: contain;
  width: 209px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, #f7f8f9 50%, #ffffff 50%);
  overflow-x: hidden;
}

.colored__frame__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 722px;
  width: 722px;
  margin: 0 auto;
  height: 480px;
  border-radius: 20px;
}

.colored__frame__container h2 {
  max-width: 478px;
  text-align: center;
  margin: 0;
  max-height: 49px;
  display: flex;
  margin-top: 25px;
}

.uncolored__frame__container {
  height: 95px;
  width: 722px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sticky {
  z-index: 2000;
  position: fixed;
  top: 0;
  width: 100vw;
}

.upper__part__glass__container {
  width: 100%;
  max-width: 337px;
  height: 418px;
  display: flex;
  flex-direction: column-reverse;
}

.upper__part__glass__frame {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 0.85;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper__part__glass__frame img {
  width: 320px;
  position: absolute;
  bottom: 0;
}

.lower__part__glass__frame {
  background: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  max-width: 337px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main__order__card__btn {
  position: relative;
  z-index: 2;
  opacity: 1;
  font-weight: 600;
  font-size: 18px;
  transition: width 0.1s ease, height 0.1s ease, font-size 0.1s ease;
  box-sizing: border-box;
  white-space: nowrap;
}

.clickToCall__btn {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.side__text__cashback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap;
  color: #101820;
  font-size: 20px;
}

.lower__frame__btns {
  width: 280px;
  height: 52px;
  border-radius: 4px;
  padding: 14px 32px 14px 32px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amex_main_title_color {
  color: #ffffff;
}

.isracard__main_title_color {
  color: #101820;
}

.isracard__btn__theme__sticky__header {
  background-color: #101820;
  color: white;
}

.amex__btn__theme__sticky__header {
  background-color: #006fcf;
  color: #ffffff;
}

/* Mobile mode. */
@media (max-width: 768px) {
  .hero__container {
    align-items: center;
  }

  .company__logo__container img {
    object-fit: contain;
    width: 130px;
  }

  .colored__frame__container {
    max-width: 100%;
    margin: 0;
    width: 354px;
    height: 348px;
  }

  .uncolored__frame__container {
    margin: 0;
    width: 228px;
    height: 70px;
  }

  .heading__container h2 {
    font-size: 20px;
    max-width: 304px;
    height: 52px;
  }

  .upper__part__glass__container {
    height: 296px;
    width: 228px;
  }

  .upper__part__glass__frame img {
    width: 220px;
  }

  .lower__frame__btns {
    width: auto;
    height: auto;
    border-radius: 4px;
    padding: 0;
  }

  .main__order__card__btn {
    /* needs to scale to 129X30 */
    width: 190px;
    height: 40px;
    padding: 14px 32px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    opacity: 1;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .clickToCall__btn {
    width: 40px;
    height: 30px;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }

  .side__text__cashback {
    max-width: 118px;
    max-height: 20px;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }
}